dss-connector-impl/src/main/resources/META-INF/3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <xs:import schemaLocation="2.xsd"
               namespace="http://dss.cryptopro.ru/services/schemas/2014/06/"/>
    <xs:complexType name="ArrayOfbase64Binary">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfbase64Binary" nillable="true" type="tns:ArrayOfbase64Binary"/>
    <xs:complexType name="ArrayOfKeyValueOfstringstring">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Key" nillable="true" type="xs:string"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring"/>
    <xs:complexType name="ArrayOfint">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint"/>
    <xs:complexType name="ArrayOfKeyValueOfSignatureParamsstring1Iy7z97I">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfSignatureParamsstring1Iy7z97I">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Key" type="q1:SignatureParams"
                                    xmlns:q1="http://dss.cryptopro.ru/services/schemas/2014/06/"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfSignatureParamsstring1Iy7z97I" nillable="true"
                type="tns:ArrayOfKeyValueOfSignatureParamsstring1Iy7z97I"/>
    <xs:complexType name="ArrayOfstring">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
    <xs:complexType name="ArrayOfKeyValueOfRequestParamsstring1Iy7z97I">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfRequestParamsstring1Iy7z97I">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Key" type="q2:RequestParams"
                                    xmlns:q2="http://dss.cryptopro.ru/services/schemas/2014/06/"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfRequestParamsstring1Iy7z97I" nillable="true"
                type="tns:ArrayOfKeyValueOfRequestParamsstring1Iy7z97I"/>
    <xs:complexType name="ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfstringty7Ep6D1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Key" nillable="true" type="xs:string"/>
                        <xs:element name="Value" nillable="true" type="tns:ArrayOfstring"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" nillable="true"
                type="tns:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1"/>

    <xs:complexType name="ArrayOfKeyValueOfVerifyParamsstring1Iy7z97I">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfVerifyParamsstring1Iy7z97I">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q1="http://dss.cryptopro.ru/services/schemas/2014/06/" name="Key"
                                    type="q1:VerifyParams"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfVerifyParamsstring1Iy7z97I" nillable="true"
                type="tns:ArrayOfKeyValueOfVerifyParamsstring1Iy7z97I"/>
    <xs:complexType name="ArrayOfKeyValueOfCertificateInfoParamsstring1Iy7z97I">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCertificateInfoParamsstring1Iy7z97I">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q2="http://dss.cryptopro.ru/services/schemas/2014/06/" name="Key"
                                    type="q2:CertificateInfoParams"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfCertificateInfoParamsstring1Iy7z97I" nillable="true"
                type="tns:ArrayOfKeyValueOfCertificateInfoParamsstring1Iy7z97I"/>
</xs:schema>