dss-connector-impl/src/main/resources/META-INF/UserManagement.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/CryptoPro.DSS.Common.UserManagementService.Filtration"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/CryptoPro.DSS.Common.UserManagementService.Filtration">
    <xs:import schemaLocation="UserManagement.2.xsd"
               namespace="http://schemas.datacontract.org/2004/07/CryptoPro.DSS.Common.UserManagementService"/>
    <xs:complexType name="UserRecordsRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="EndPosition" type="xs:int"/>
            <xs:element minOccurs="0" name="Filters" nillable="true" type="tns:ArrayOfUserFilter"/>
            <xs:element minOccurs="0" name="StartPosition" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserRecordsRequest" nillable="true" type="tns:UserRecordsRequest"/>
    <xs:complexType name="ArrayOfUserFilter">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="UserFilter" nillable="true" type="tns:UserFilter"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfUserFilter" nillable="true" type="tns:ArrayOfUserFilter"/>
    <xs:complexType name="UserFilter">
        <xs:sequence>
            <xs:element minOccurs="0" name="Column" type="tns:ColumnTypeEnum"/>
            <xs:element minOccurs="0" name="Operation" type="tns:FilterOperationEnum"/>
            <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserFilter" nillable="true" type="tns:UserFilter"/>
    <xs:simpleType name="ColumnTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Login"/>
            <xs:enumeration value="PhoneNumber"/>
            <xs:enumeration value="PhoneNumberComfirmed"/>
            <xs:enumeration value="Email"/>
            <xs:enumeration value="EmailConfirmed"/>
            <xs:enumeration value="Rdn"/>
            <xs:enumeration value="Group"/>
            <xs:enumeration value="AuthMethod"/>
            <xs:enumeration value="IsLocked"/>
            <xs:enumeration value="LastLoginDate"/>
            <xs:enumeration value="CreateDate"/>
            <xs:enumeration value="TokenSerial"/>
            <xs:enumeration value="TokenType"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ColumnTypeEnum" nillable="true" type="tns:ColumnTypeEnum"/>
    <xs:simpleType name="FilterOperationEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Equal"/>
            <xs:enumeration value="NotEqual"/>
            <xs:enumeration value="Like"/>
            <xs:enumeration value="Greater"/>
            <xs:enumeration value="Less"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FilterOperationEnum" nillable="true" type="tns:FilterOperationEnum"/>
    <xs:complexType name="UserRecordsResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="AffectedCount" type="xs:int"/>
            <xs:element minOccurs="0" name="TotalCount" type="xs:int"/>
            <xs:element minOccurs="0" name="UserInfos" nillable="true" type="q1:ArrayOfDssUserInfo"
                        xmlns:q1="http://schemas.datacontract.org/2004/07/CryptoPro.DSS.Common.UserManagementService"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserRecordsResponse" nillable="true" type="tns:UserRecordsResponse"/>
</xs:schema>