dss-connector-impl/src/main/resources/META-INF/UserManagement.4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <xs:import schemaLocation="UserManagement.2.xsd"
               namespace="http://schemas.datacontract.org/2004/07/CryptoPro.DSS.Common.UserManagementService"/>
    <xs:complexType name="ArrayOfstring">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
    <xs:complexType name="ArrayOfKeyValueOfIdentifierTypestringMJV4w3gm">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfIdentifierTypestringMJV4w3gm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Key" type="q1:IdentifierType"
                                    xmlns:q1="http://schemas.datacontract.org/2004/07/CryptoPro.DSS.Common.UserManagementService"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfIdentifierTypestringMJV4w3gm" nillable="true"
                type="tns:ArrayOfKeyValueOfIdentifierTypestringMJV4w3gm"/>
    <xs:complexType name="ArrayOfKeyValueOfintstring">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintstring">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Key" type="xs:int"/>
                        <xs:element name="Value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValueOfintstring" nillable="true" type="tns:ArrayOfKeyValueOfintstring"/>
</xs:schema>
